:root {
    --gradient: linear-gradient(
        180deg,
        rgba(45, 112, 1253, 0.73) 0%,
        #163e92 100%
    );
    --dark: #001747;
    --grey: #b1bacb;
    --grey-border: rgba(210, 210, 210, 0.75);
    --grey-light: #eeeeee;
    --grey-dark: #405175;
    --blue: #2d70fd;
    --green: #00d9a7;
    --white: #ffffff;
}

body {
    background: linear-gradient(to bottom, #f0f4f8, #ffffff);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.btn {
    color: var(--white);
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3rem;
    background-color: var(--blue);
    border: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
}

h2 {
    text-transform: uppercase;
    height: 3rem;
    color: var(--dark);
    text-align: center;
}

.input {
    position: relative;
    display: flex;
}

.input-field {
    width: 100%;
    border: 0.06rem solid #d2d2d2bf;
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-size: 1rem;
}

input[type="text"]::placeholder {
    color: var(--grey);
}

li {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.3rem;
}

ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll; /* scollbar */
}

#todoList p {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--dark);
}

#todoList .disabled {
    color: #8f98a8;
}

.disabled {
    display: flex;
    text-decoration: line-through;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "\2713";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    border: 0.06rem solid var(--grey-border);
    border-radius: 50%;
    color: transparent;
}

input[type="checkbox"]:checked::before {
    color: var(--white);
    background-color: var(--green);
    border: 0.06rem solid var(--green);
    border-radius: 50%;
}

.counter {
    border: 0.06rem solid var(--grey-light);
}

.counter-container {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--grey);
}

.counter-container p {
    align-self: center;
}

.counter-container button {
    border: none;
    background-color: transparent;
    color: var(--grey);
    font-size: 1rem;
}

.delete-btn {
    background-color: #ff6347; 
    color: white; 
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff4500; 
}

.scroll {
    height: 15rem;
    scrollbar-width: thick;
}

.scroll::-webkit-scrollbar {
    width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
    display: none;
}

.streak-container {
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.streak-container p {
    font-size: 1.2rem;
    color: var(--dark);
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
    background: var(--white);
    padding: 3rem;
    height: 60%;
    width: 60%;
    box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
    max-width: 40rem;
}

.todo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.todo-container p {
    margin: 0;
    font-size: 1rem;
    color: var(--dark);
}

.todo-checkbox {
    margin-right: 10px;
}

.todo-edit-input {
    flex-grow: 1;
    border: none;
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    box-sizing: border-box;
    background-color: var(--background);
    color: var(--dark);
}

.todo-timer-btn, .todo-delete-btn {
    padding: 4px 8px;
    color: white;
    border: none;
    cursor: pointer;
}

.todo-timer-btn {
    background-color: #4CAF50;
    margin-right: 0.5rem; /* Adjust the space between buttons */
}

.todo-delete-btn {
    background-color: #f44336;
}

.todo-timer-btn:hover {
    background-color: #45a049;
}

.todo-timer-btn:disabled {
    background-color: #9E9E9E;
    cursor: not-allowed;
}

.todo-text {
    flex-grow: 1;
    margin-right: 1rem;
    text-align: left;
}